@keyframes float-in-top {
  0% {
    opacity: 0;
    bottom: 20px;
  }

  100% {
    opacity: 1;
    bottom: 0px;
  }
}

html {
  overscroll-behavior: none;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0px;
}

nav {
  color: rgb(9, 0, 114);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 5px solid rgb(9, 0, 114);
}

.lay-beneath {
  z-index: 9;
}

nav h3 {
  vertical-align: middle;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
}

nav ul {
  padding: 0px;
  list-style: none;
  display: inline;
  margin: auto 10px;
}

li {
  font-weight: bold;
  display: inline;
  font-size: 16px;
  margin: auto;
}

.logo {
  margin: auto 10px;
  width: 80px;
}

nav .gray-container {
  display: inline;
  padding: 15px;
  margin: 0px;
}

.nav-container {
  transform: translateY(-78px);
  z-index: 9999;
  width: 100%;
  position: fixed;
  transition: all 0.2s ease-in-out;
}

.internav-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.nav-container button {
  border: 0px;
  background-color: transparent;
}

.nav-container button {
  transition: all 200ms ease-in-out;
}

.nav-container i {
  transform: rotateX(180deg);
  font-size: 25px;
  color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(5px);

  transition: all 150ms ease-in-out;
}

.hide.nav-container i {
  color: rgba(255, 255, 255, 0.5);
}

.hint-text {
  margin-top: 10px;
  margin-bottom: -10px;
}

.nav-container.hide-bar button {
  transform: rotateX(180deg);
}

.toggle-nav {
  display: block;
  margin: 0 auto;
}

/* \/ animations */

.hide-bar {
  transform: translateY(0px);
}

.float-in-top {
  animation: 2s float-in-top both;
}

/* animations end */

.roboto-mono {
  font-family: "Roboto mono", Arial, Helvetica, sans-serif;
}

.hide {
  display: none;
}

.gray-container {
  border-radius: 0px 15px 15px 0px;
  background-color: rgba(185, 185, 185, 0.5);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 240px 70px;
}

header h1 {
  position: relative;
  opacity: 0;
  font-size: 80px;
}

header h2 {
  position: relative;
  opacity: 0;
  font-size: 60px;
}

header .img-container {
  border: 5px solid #808080;
  border-right: 0;
  display: block;
  margin-top: -140px;
  margin-right: -70px;
  border-radius: 300px 0px 0px 300px;
  padding: 250px 300px;
  background-color: #d9d9d9;
}
